# ivoatex intermediate files
*.blg
*.toc
*.out
*.pdf
*.aux
*.bbl
*.log
*.fdb_latexmk
*.fls
*.glo
*.ist
ivoatexmeta.tex
role_diagram.svg
#
#
gitmeta.tex
*.html
*.zip
*.swp

# OS-specific
.DS_Store

#githubworkflow
./github/workflows/*

